<div style="width: 100%; height: 100%; position: relative; background: #FCF4E7">
  <div style="width: 1512px; height: 100%; left: 0px; top: 0px; position: absolute; background: #FEFBF6"></div>
  <div style="width: 360px; height: 100%; padding: 12px; left: 0px; top: 0px; position: absolute; background: #FCF4E7; border-radius: 16px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
      <div style="width: 40px; height: 55px; background:transparent">
        <img style="width: 40px; height: 55px;" src="assets/icons/Gallo.svg">
      </div>
      <div style="align-self: stretch; padding-left: 16px; padding-right: 16px; padding-top: 18px; padding-bottom: 18px; border-radius: 100px; overflow: hidden; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
          <div style="justify-content: flex-start; align-items: center; gap: 12px; display: flex">
              <div></div>
          </div>
      </div>
      <div style="align-self: stretch; height: 56px; background: #F9EDD9; border-radius: 100px; overflow: hidden; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
          <div style="flex: 1 1 0; align-self: stretch; padding-top: 16px; padding-bottom: 16px; padding-left: 16px; padding-right: 24px; justify-content: flex-start; align-items: center; gap: 12px; display: flex">
              <div style="width: 24px; height: 24px; position: relative">
                  <div style="border-radius: 8px;width: 12px; height: 12px; left: 6px; top: 6px; position: absolute; background: #291515"></div>
              </div>
              <div style="flex: 1 1 0; color: #291515; font-size: 14px; font-family: Roboto; font-weight: 600; line-height: 20px; letter-spacing: 0.10px; word-wrap: break-word">Mis Alarmas</div>
              <div style="text-align: right"></div>
          </div>
      </div>
      <div style="align-self: stretch; height: 56px; border-radius: 100px; overflow: hidden; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
          <div style="flex: 1 1 0; align-self: stretch; padding-top: 16px; padding-bottom: 16px; padding-left: 16px; padding-right: 24px; justify-content: flex-start; align-items: center; gap: 12px; display: flex">
              <div style="width: 24px; height: 24px; position: relative">
                  <div style="border-radius: 8px;width: 12px; height: 12px; left: 6px; top: 6px; position: absolute; background: #49454F"></div>
              </div>
              <div style="flex: 1 1 0; color: #49454F; font-size: 14px; font-family: Roboto; font-weight: 500; line-height: 20px; letter-spacing: 0.10px; word-wrap: break-word">Ajustes</div>
          </div>
      </div>
  </div>
  <div style="width: 1000px; height: 39px; left: 413px; top: 37px; position: absolute; color: #1D1B20; font-size: 32px; font-family: Roboto; font-weight: 600; line-height: 28px; word-wrap: break-word">Añadir alarma</div>
  <div style="width: 364px; height: 94px; left: 413px; top: 123px; position: absolute">
      <div style="width: 364px; height: 94px; left: 0px; top: 0px; position: absolute; background: #F9EDD9; border-radius: 12px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
          <div style="flex: 1 1 0; align-self: stretch; padding: 10px"></div>
      </div>
      <div style="width: 364px; height: 94px; left: 0px; top: 0px; position: absolute">
          <div style="width: 364px; height: 94px; left: 0px; top: 0px; position: absolute; border-radius: 12px; overflow: hidden; border: 1px #CAC4D0 solid; justify-content: center; align-items: center; display: inline-flex">
              <div style="flex: 1 1 0; align-self: stretch; justify-content: flex-start; align-items: center; display: inline-flex">
                  <div style="flex: 1 1 0; height: 108px; padding: 16px; justify-content: flex-start; align-items: center; gap: 16px; display: flex">
                      <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
                          <div style="align-self: stretch; color: #562C2C; font-size: 16px; font-family: Roboto; font-weight: 500; line-height: 24px; letter-spacing: 0.15px; word-wrap: break-word">Levantarse</div>
                          <div style="align-self: stretch; color: #562C2C; font-size: 40px; font-family: Roboto; font-weight: 700; line-height: 24px; letter-spacing: 0.15px; word-wrap: break-word">7:00 AM</div>
                          <div style="width: 319px; text-align: right; color: #1D1B20; font-size: 16px; font-family: Roboto; font-weight: 500; line-height: 20px; letter-spacing: 0.25px; word-wrap: break-word">07/10/22</div>
                      </div>
                  </div>
              </div>
          </div>
          <div style="width: 34px; height: 30.43px; left: 321px; top: 9px; position: absolute">
              <div style="width: 15.68px; height: 14.02px; left: 9.14px; top: 8.18px; position: absolute; background:transparent"></div>
              <div style="width: 34px; height: 30.43px; left: 0px; top: 0px; position: absolute; background:transparent">
                <img src="assets/icons/Cerrar.svg" style="width: 34px; height: 30.43px;">
              </div>
          </div>
      </div>
  </div>
  <div style="width: 364px; height: 94px; left: 794px; top: 123px; position: absolute">
      <div style="width: 364px; height: 94px; left: 0px; top: 0px; position: absolute; background: #F9EDD9; border-radius: 12px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
          <div style="flex: 1 1 0; align-self: stretch; padding: 10px"></div>
      </div>
      <div style="width: 364px; height: 94px; left: 0px; top: 0px; position: absolute">
          <div style="width: 364px; height: 94px; left: 0px; top: 0px; position: absolute; border-radius: 12px; overflow: hidden; border: 1px #CAC4D0 solid; justify-content: center; align-items: center; display: inline-flex">
              <div style="flex: 1 1 0; align-self: stretch; justify-content: flex-start; align-items: center; display: inline-flex">
                  <div style="flex: 1 1 0; height: 108px; padding: 16px; justify-content: flex-start; align-items: center; gap: 16px; display: flex">
                      <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
                          <div style="align-self: stretch; color: #562C2C; font-size: 16px; font-family: Roboto; font-weight: 500; line-height: 24px; letter-spacing: 0.15px; word-wrap: break-word">Reunion</div>
                          <div style="align-self: stretch; color: #562C2C; font-size: 40px; font-family: Roboto; font-weight: 700; line-height: 24px; letter-spacing: 0.15px; word-wrap: break-word">01:00 PM</div>
                          <div style="width: 319px; text-align: right; color: #1D1B20; font-size: 16px; font-family: Roboto; font-weight: 500; line-height: 20px; letter-spacing: 0.25px; word-wrap: break-word">07/10/22</div>
                      </div>
                  </div>
              </div>
          </div>
          <div style="width: 34px; height: 30.43px; left: 321px; top: 9px; position: absolute">
              <div style="width: 15.68px; height: 14.02px; left: 9.14px; top: 8.18px; position: absolute; background: transparent"> </div>
              <div style="width: 34px; height: 30.43px; left: 0px; top: 0px; position: absolute; background: transparent">
                <!-- <img src="assets/icons/Cerrar.svg" style="width: 15.68px; height: 14.02px;"> -->
                <img src="assets/icons/Cerrar.svg" style="width: 34px; height: 30.43px;">
              </div>
          </div>
      </div>
  </div>
  <div style="width: 364px; height: 94px; left: 413px; top: 238px; position: absolute; border-radius: 12px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
      <!-- <div style="width: 364px; height: 94px; background: rgba(249, 237, 217, 0); border-radius: 12px; overflow: hidden; justify-content: center; align-items: center; display: flex">
          <div style="width: 364px; height: 94px; padding: 10px"></div>
      </div> -->
      <div style="width: 364px; height: 94px; border-radius: 12px; overflow: hidden; border: 2px #562C2C solid; justify-content: center; align-items: center; display: flex">
          <div style="flex: 1 1 0; align-self: stretch; justify-content: flex-start; align-items: center; display: inline-flex">
              <div style="flex: 1 1 0; height: 78px; padding-top: 16px; padding-bottom: 16px; padding-left: 30px; padding-right: 16px; justify-content: flex-start; align-items: center; gap: 16px; display: flex">
                  <div style="width: 45px; height: 46px; background:transparent" >
                  <img style="width: 45px; height: 46px;" src="assets/icons/Nuevo.svg">
                  </div>
                  <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
                      <div style="align-self: stretch; color: #562C2C; font-size: 30px; font-family: Roboto; font-weight: 500; line-height: 24px; letter-spacing: 0.15px; word-wrap: break-word">Añadir Alarma</div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- <div style="width: 444px; height: 384.68px; left: 1068px; top: 597px; position: absolute">
      <div style="width: 43.78px; height: 25.30px; left: 183.46px; top: 196.98px; position: absolute; background: #F9EDD9"></div>
      <div style="width: 4.93px; height: 4.93px; left: 233.91px; top: 163.65px; position: absolute; background: #F9EDD9"></div>
      <div style="width: 108.94px; height: 107.43px; left: 282.75px; top: 270.53px; position: absolute; background: #F9EDD9"></div>
      <div style="width: 43.79px; height: 25.29px; left: 312.25px; top: 320.80px; position: absolute; background: #F9EDD9"></div>
      <div style="width: 4.93px; height: 4.93px; left: 300.64px; top: 287.46px; position: absolute; background: #F9EDD9"></div>
      <div style="width: 20.97px; height: 12.71px; left: 353.76px; top: 308.99px; position: absolute; background: #F9EDD9"></div>
      <div style="width: 185.11px; height: 250.25px; left: 161.29px; top: 108.70px; position: absolute; background: #F9EDD9"></div>
      <div style="width: 66.81px; height: 28.43px; left: 50.93px; top: 234.64px; position: absolute; background: #F9EDD9"></div>
      <div style="width: 444px; height: 374.43px; left: 0px; top: 0px; position: absolute; background: #F9EDD9"></div>
      <div style="width: 42.93px; height: 6.39px; left: 393.27px; top: 12.43px; position: absolute; background: #F9EDD9"></div>
      <div style="width: 189.76px; height: 6.39px; left: 180.30px; top: 378.29px; position: absolute; background: #F9EDD9"></div>
  </div> -->
</div>
